@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: aliceblue;
}

img{
    width: 100%;
}
nav{
    background-color: white;
}
.flex{
    display: flex;
    color: black;
    align-items: center;
}

/*Media Queries mobile first approach*/
@media (min-width:300px){
    nav img{
        height: 5vh;
        width: auto;
        margin-right: 1rem;
    }
    nav{
        display: flex;
        justify-content: center;
        padding: 2vh 0;
    }
    .one h4,p{
        text-align: center;
        padding: 1.5vh 0;
    }
    .one h4{
        margin-top: 5vh;
    }
    .one img{
        padding-top: 3vh;
    }
    .two{
        background-color: white;
        color: #212121;
        padding: 1.5rem;
        width: 70%;
        margin: 5vh auto;
        border-radius: 12px;
    }
    .two label{
        font-size:1.2rem;
    }
    .two input[type="text"]{
        border:none;
        padding: 0.5rem;
        width: 90%;
        outline: none;
        border-bottom:1px #212121 solid;
        font-size: 0.5rem;
    }
    .two input[type="radio"], input[type="checkbox"]{
        margin-right: 0.5rem;
        margin-top: 1.2vh;
        margin-bottom: 1.2vh;
    }
    .two .gender{
        display: flex;
    }
    .two .gender .gen-lf{
        margin-left: 2rem;
    }
    .two .gender label{
        font-size: 0.8rem;
    }
    .two .checkboxs .item label{
        font-size: 0.8rem;
    }
    .checkboxs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Button{
        background-color: #212121;
        color:white;
        font-size: 0.7rem;
        width: 8rem;
        height: 3rem;
        border-radius: 12px;
        padding: 0rem;
        margin-top: 1.3rem;
        font-weight: bold;
        outline: none;
        border: none;
    }
    .equipment-list h2{
        text-align: center;
    }
    .equipment-list .cards .card img{
        padding: 0rem;
        height: 6rem;
        width: 6rem;
        
    }
    .equipment-list .cards .card{
        padding: 1.5rem;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        padding: 0rem;
    }
    .cards .card img{
        border-radius: 25px;
        height:10rem;
        width: 10rem;
        padding: 0.9rem;
    }
    .segment{
        text-align: center;
        margin:0 2rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* width: 100%;
        height: 100%; */
    }
    .segmantA img{
        height: 10rem;
        width: 15rem;
    }
    .segmentB h3{
        margin-bottom: 1.5rem;
    }
    .segmentB img{
        height: 8rem;
        width: 13rem;
    }
}
@media (min-width:700px){
    nav img{
        height: 8vh;
        width: auto;
        margin-right: 1rem;
    }
    nav h1{
        font-size: 4rem;
    }
    .one h4,p{
        font-size: 2.5rem;
    }
    .one img{
        width: 100%;
    }
    .two input[type="text"]{
        font-size: 1rem;
    }
    .two .gender{
        gap: 8.5rem;
    }
    .two .gender label{
        font-size: 0.9rem;
    }
    .two .checkboxs label{
        font-size: 1rem;
    }
    .hero .two .Button{
        font-size: 0.6rem;
        height: 2rem;
    }
    .equipment-list{
        font-size: 1.5rem;
        padding-top: 4rem;
        margin-bottom: 2rem;
    }
    .equipment-list .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0rem;
        align-items: center;
    }
    .equipment-list .cards .card{
        padding: 0rem;
        display: flex;
        justify-self: center;
        margin-top: 1.5rem;
    }
    .equipment-list .cards .card img{
        width: 9rem;
        height: 9rem;
    }
    .segment{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .segment .segmantA{
        width: 100%;
    }
    .segment .segmantA h3{
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    .segment .segmantA img{
        width: 100%;
        height: auto;
        background-color: aliceblue;
    }
    .segment .segmentB{
        width: 100%;
    }
    .segment .segmentB h3{
        font-size: 2rem;
    }
    .segment .segmentB img{
        width: 100%;
        height:12.2rem ;
    }
}

@media (min-width:1200px){
    nav{
        justify-content: left;
        padding-left: 10vw;
    }
    nav .flex h1{
        font-family: "Briem Hand";
    }
    .one p, h4{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding-top:10vh ;
    }

    .hero img{
        height: 60vh;
        width: 50vw;
    }
    .two{
        width: 46%;
        height: 60vh;
        padding-top:2.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .two input[type="text"]{
        padding: 1rem;
        font-size: 1.6rem;
    }
    .two input[type="radio"], input[type="checkbox"]{
        margin-top: 1.5rem;
    }
    .two .gender{
        gap:4.5rem;
    }
    .two .gender label{
        font-size: 1.5rem;
    }
    .two .checkboxs .item label{
        font-size: 1.4rem;
    }
    .hero .two .Button{
        font-size: 1.5rem;
        height: 4rem;
        width: 100%;
    }
    form{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .equipment-list h2{
        font-size: 3rem;
        font-family: "Briem Hand";
    }
    .cards{
        display: flex;
        grid-template-columns: repeat(1,1fr);
    }
    .equipment-list .cards .card{
        display: grid;
        align-items: center;
        height: 20rem;
    }
    .equipment-list .cards .card img{
        height: 16rem;
        width: 16rem;
    }
    .segment{
        height: 30rem;
        margin-bottom: 2rem;
    }
    .segment .segmantA h3{
        font-size: 3rem;
        font-family: "Briem Hand";
        margin-bottom: 1.5rem;
    }
    .segment .segmantA img{
        height: 21rem;
        width: 100%;
        background-color: aliceblue;
        
    }
    .segment .segmentB h3{
        font-size: 3rem;
        font-family: "Briem Hand";
    }
    .segment .segmentB img{
        height: 21rem;
        width: 100%;
    }
}